body{
    background-color: rgb(233, 194, 37);
}
header,footer{
    padding: 5%;
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: xx-large;text-align: center;
}
nav ul{
    list-style: none;
}
nav ul li{
    display:inline-block;
}