.hero {
    border-radius: 6px;
}

.footer {
    background-color: #ebe7e7;
    border:1px solid rgb(183, 182, 182);
    padding: 0.1rem;
    border-radius: 6px;
}

table{
    width: 100%;
}

th{
    background-color: rgb(48, 48, 48);
    color:white !important;
}
#datos{
    border:1px solid black;
    border-radius: 6px;
    padding:3px;
}
tbody tr:nth-child(odd) {
    background-color: rgb(205, 205, 205);
}
tbody tr:nth-child(odd) {
    background-color: rgb(225, 222, 222);
}

.fondo{
    background-color: rgb(155, 155, 155);
}
.container{
    background-color: white;
}