{%extends 'base.html'%}

{%block title%}Home{%endblock%}

{%block content%}
    <h1>Hola Mundo de las plantillas</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>DNI</th>
        </tr>
        {% for fila in datos%}
            <tr>
                <td>{{fila[0]}}</td><td>{{fila[1]}}</td> <td>{{fila[2]}}</td> <td>{{fila[3]}}</td>
            </tr>
        {%endfor%}
    </table>
<!-- 
    <select name="" id="">
        {% for fila in datos%}
            <option value="{{fila[1]}}" {%if fila[1] == 3 %}selected="true"{%endif%}>{{fila[0]}}</option>
        {%endfor%}
    </select>

    <p>
        {% for fila in datos%}
        <input type="radio" id="dato{{fila[1]}}" name="age" value="{{fila[1]}}">
        <label for="dato{{fila[1]}}">{{fila[0]}}</label><br/>
        {%endfor%}        
        
    </p>
    <p>
        {% for fila in datos%}
            <input type="checkbox" name="persona{{fila[1]}}" value="{{fila[1]}}">
            <label for="persona{{fila[1]}}"> {{fila[0]}}</label><br/>
        {%endfor%}        
        
    </p> -->



{%endblock%}

 